.composition {
  position: relative;

  &__photo {
    // image width should always be in % for responsive design
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
    border-radius: 2px;
    position: absolute;
    z-index: 1;
    transition: all .2s;
    outline-offset: 2rem;

    &--p1 {
      top: -2rem;
      left: 0;
    }
    &--p2 {
      right: 0;
      top: 2rem;
    }
    &--p3 {
      top: 10rem;
      left: 20%;
    }

    &:hover {
      outline: 0.5rem solid rgba($color-primary, .3);
      transform: scale(1.05) translateY(-.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, .6);
      z-index: 2;
    }

  }
  // selector on hover to select the other images
  &:hover &__photo:not(:hover) {
    transform: scale(.95);
  }
}